{% extends 'base.html' %}

{% block content %}
<div class="container">
    <h1>About the Team</h1>
    <p>Thank you for trying out PoisonPy. This was a team effort completed over the Fall semester of 2024.</p>
    We are a group of dedicated developers working together to create impactful software solutions. Below, you can find more information about each of us!

    <!-- Grid container for team members' info -->
    <div class="team-grid">
        <div class="team-member">
            <h3>Natalie Oulman</h3>
            <p><strong>Major:</strong> Computer Science</p>
            <p><strong>GitHub:</strong> <a href="https://github.com/natalieoulman" target="_blank">GitHub Profile</a></p>
        </div>

        <div class="team-member">
            <h3>Jonathan Thang</h3>
            <p><strong>Major:</strong> Major</p>
            <p><strong>GitHub:</strong> <a href="https://github.com/" target="_blank">GitHub Profile</a></p>
        </div>

        <div class="team-member">
            <h3>Simon Saltikov</h3>
            <p><strong>Major:</strong> Major</p>
            <p><strong>GitHub:</strong> <a href="https://github.com/" target="_blank">GitHub Profile</a></p>
        </div>

        <div class="team-member">
            <h3>Samuel Hodgdon</h3>
            <p><strong>Major:</strong>Major</p>
            <p><strong>GitHub:</strong> <a href="https://github.com/" target="_blank">GitHub Profile</a></p>
        </div>
    </div>
</div>
{% endblock %}




